body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-image: url("hearts.png");
    background-repeat: repeat;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #52263a;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #cc749d;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #a65a7c;
}

footer {
    margin-top: auto;
    background-color: #52263a;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

.main-text {
    font-size: 1.8em; /* Размер текста, как у h2 на главной */
}
