body {
    font-family: 'Arial', sans-serif; /* Заменил шрифт на Arial (или любой другой, который тебе нравится) */
    margin: 0;
    padding: 0;
    background-image: url("hearts.png");
    background-repeat: repeat;
    background-color: #f8f8f8;
    color: #333;
    text-align: center; /* Выравниваем все по центру по умолчанию */
}

/* header */
header {
    background-color: #52263a;
    color: white;
    padding: 20px;
    text-align: left; /* Выравниваем заголовок по левому краю */
}

/* main */
main {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Кнопки */
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #cc749d; /* Цвет кнопок */
    color: white;
    border: none;
    border-radius: 25px; /* Овальные края */
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #a65a7c;
}

/* footer */
footer {
    margin-top: 20px;
    background-color: #52263a; /* Цвет футера */
    color: white;
    padding: 20px;
}
